jobs:
  deploy:
    runs-on: ubuntu-latest
    

    if: >
      ${{ 
        github.event.workflow_run.conclusion == 'success' && 
        startsWith(github.event.workflow_run.head_branch, 'v') 
      }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Pack and Push
        run: |
          TAG_NAME=${{ github.event.workflow_run.head_branch }}
          VERSION=${TAG_NAME#v}
          
          dotnet pack src/FluentValidation.Extensions/FluentValidation.Extensions.csproj \
            --configuration Release \
            --output ./nupkg \
            /p:PackageVersion=$VERSION

          dotnet nuget push ./nupkg/*.nupkg \
            --api-key ${{ secrets.NUGET_TOKEN }} \
            --source https://api.nuget.org/v3/index.json