name: Publish-to-NuGet

on:
  push:
    tags: [ "v*" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Pack and Push
        run: |
          # KORREKTUR: Bei 'on: push' nutzen wir github.ref_name
          # github.ref_name ist z.B. "v1.0.21"
          TAG_NAME=${{ github.ref_name }}
          VERSION=${TAG_NAME#v}
          
          echo "Version extracted: $VERSION"
          
          dotnet pack src/FluentValidation.Extensions/FluentValidation.Extensions.csproj \
            --configuration Release \
            --output ./nupkg \
            /p:PackageVersion=$VERSION

          dotnet nuget push ./nupkg/*.nupkg \
            --api-key ${{ secrets.NUGET_TOKEN }} \
            --source https://api.nuget.org/v3/index.json