name: Test & Deploy


on:
  push:
    branches: [ "master" ]
    tags: [ "v*" ]     
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      
      - run: dotnet test tests/FluentValidation.Extensions.Tests/FluentValidation.Extensions.Tests.csproj --configuration Release


  deploy:
    name: Publish to NuGet
    runs-on: ubuntu-latest
    
    needs: test  
    # && startsWith(github.ref, 'refs/tags/v')

    if: success() 
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Pack
        run: |
          # Version aus dem Tag extrahieren (v1.0.0 -> 1.0.0)
          #VERSION=${GITHUB_REF#refs/tags/v}
          VERSION=1.0.15
          dotnet pack src/FluentValidation.Extensions/FluentValidation.Extensions.csproj --configuration Release --output ./nupkg /p:PackageVersion=$VERSION

      - name: Push
        run: |
          dotnet nuget push ./nupkg/*.nupkg \
            --api-key ${{ secrets.NUGET_TOKEN }} \
            --source https://api.nuget.org/v3/index.json